PORT=4000
AUTH_SERVICE_URL=http://localhost:3001
REDIS_URL=redis://localhost:6379
MONGO_URL=mongodb://your_mongo_username:change_me@localhost:27017/erp_db?authSource=admin
JWT_SECRET=change_me
USER_SERVICE_URL=http://localhost:3002