PGHOST=localhost
PGPORT=5432
PGDATABASE=erp_db
PGUSER=postgres
PGPASSWORD=change_me
JWT_SECRET=change_me
PORT=3001
REDIS_URL=redis://localhost:6379
MONGO_URL=mongodb://your_mongo_username:change_me@localhost:27017/erp_db?authSource=admin